<div id="about" class="container">
  <div class="about">
    <p>
      We are a group of people passionate about football. 
      We provide analysis for over 35 leagues. This covers both major and minor leagues.
    </p>
  </div>

  <div class="about">
    <p>
      We believe that betting needs to be dealt with the utmost importance: there are no gurus,or absolute success.
      We need to point out that football prognostic data is a very difficult task as in football, more than any other sport, the element of surprise awaits.
    </p>
    <p>
      You are not compelled to take all our selections. It is your choice whether to place a bet on recommended result.
      We help you make decisions, which provide real monetary value for you.
    </p>
  </div>

  <div class="about">
    <h3>
      Disclaimer
    </h3>
    <p>
      Betting can be very risky and users should only speculate with money that they can comfortably 
      afford to lose and should ensure that the risks involved are fully understood, seeking advice if necessary.
    </p>
  </div>
  <div class="about">
    <h3>
      Warning
    </h3>
    <p>
      Please note that, you can not bet or play on this website. 
      It only offers betting tips and predictions on football matches. 
      We advise you to respect the laws on gambling in your country.
    </p>
  </div>

</div>