<div class="container">
  <div class="contact">
    <h3>
      Feedback and Inquiries
    </h3>
    <div class="jumbotron">
        <a class="btn btn-primary" href="mailto:comfyannex@gmail.com" target="_top">Send Email</a>
    </div>
  </div>
  
  <div class="contact">
    <p>
      We provide analysis for over 35 leagues. This covers both major and minor leagues.
    </p>
    <p>
      You are not compelled to take all our selections. It is your choice whether to place a bet on recommended result.
    </p>
    <p>
      We help you make decisions, which provide real monetary value for you.
    </p>
  </div>
</div>