<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1><strong><em>Comfy Bets</em></strong></h1>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">HOME</a></li>
        <li><a routerLink="/about">ABOUT US</a></li>
        <li><a routerLink="/contact">CONTACT US</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
      </div>
  </div><!-- /.container-fluid -->
</nav>
<router-outlet></router-outlet>
<footer>
  <p>Copyright &copy;2017. Comfy Bets. All Rights Reserved. | Designed by <a href="blog.tankipvibe.com">Roggie Tankip</a></p>
</footer>