/* You can add global styles to this file, and also import other style files */
body {
    color: black;
    background-image: url('./assets/background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#head {
    background-color: white;
}
#main {
    border-radius: 2px;
    padding: 1%;
    color: black;
}
.my-pagination .ng2-pagination  {
    border-radius: 2px;
}
footer {
    position: inherit;
    background-color: white;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1%;
    text-align: center;
}