<div class="container" id="main">

  <section>
    <app-main></app-main>
    <hr>
    <a class="twitter-timeline" href="https://twitter.com/comfybets">News Tweets by comfybets</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>  </section>

  <aside>
    <h3>Join Us On Facebook</h3>
    <div class="fb-page" data-href="https://www.facebook.com/comfybets/" data-tabs="share" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/comfybets/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/comfybets/">Comfy Bets</a></blockquote></div>
    <hr>
  </aside>

</div>
